<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home1.html"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Powered-By"
           value="XSP"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
