<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home1.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add allowed="false"
             fileExtension=".csv"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
