<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <defaultDocument enabled="false">
      <files>
        <clear/>
        <remove value="index.html"/>
        <add value="home.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
        <add value="home2.html"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear/>
        <rule name="test"/>
      </rules>
    </rewrite>
    <httpErrors>
      <error path="test.htm"
           prefixLanguageFilePath=""
           responseMode="File"
           statusCode="500"
           subStatusCode="55"/>
    </httpErrors>
    <urlCompression doDynamicCompression="false"/>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="web.config"/>
          <add segment="test"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
