<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="false">
      <files>
        <clear/>
        <remove value="index.htm" />
        <add value="home.html"/>
        <add value="home1.html" />
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
        <add value="home2.html"/>
      </files>
    </defaultDocument>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
                <clear />
                <rule name="test" />
            </rules>
        </rewrite>
        <httpErrors>
            <error statusCode="500" subStatusCode="55" prefixLanguageFilePath="" path="test.htm" responseMode="File" />
        </httpErrors>
        <urlCompression doDynamicCompression="false" />
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="web.config" />
                    <add segment="test" />
                </hiddenSegments>
            </requestFiltering>
        </security>
  </system.webServer>
</configuration>
