<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home1.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <filteringRules>
          <filteringRule name="test1"/>
        </filteringRules>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
