<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?include "Variables.wxi" ?>
    <?include "Paths.wxi" ?>

    <Product Id="*"
             Name="$(var.ProductName) $(var.ProductVersion)"
             Language="1033"
             Version="$(var.ProductVersion)"
             Manufacturer="$(var.Manufacturer)"
             UpgradeCode="$(var.UpgradeCode)">

        <Package Comments="$(var.ProductDescription)"
                 InstallerVersion="500"
                 Compressed="yes"
                 Description="$(var.ProductName) $(var.ProductVersion)" />

        <Icon Id="icon.ico" SourceFile="$(var.Icon)" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id="ARPINSTALLLOCATION" Secure="yes" />

        <!-- Upgrade information -->
		<Upgrade Id="$(var.UpgradeCode)">
			<!-- The UpgradeCode must be changed to allow two versions of SharpDevelop to be installed side-by-side -->
			
			<!-- Checks for older versions -->
			<UpgradeVersion Minimum="$(var.MinimalVersion)"
				IncludeMinimum="yes"
				Maximum="$(var.ProductVersion)"
				IncludeMaximum="no" 
				Property="PREVIOUSVERSIONFOUND"/>
			<!-- Checks for newer versions -->
			<UpgradeVersion OnlyDetect="yes"
				Property="NEWERVERSIONFOUND"
				Minimum="$(var.ProductVersion)"
				IncludeMinimum="no"/>
		</Upgrade>

        <!-- Embed the cab -->
        <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />

        <!-- MainFeature -->
        <Feature Id="ProductFeature"
                 Title="$(var.ProductName)"
                 Level="1"
                 ConfigurableDirectory="INSTALLDIR">

            <!-- Files installed -->
            <?include "Components.wxi" ?>
            <ComponentRef Id="ProgramMenuItems" />
            <ComponentRef Id="MainExecutable" />
        </Feature>

        <!-- Directories and files -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
                    <Directory Id="CONTAINER" Name="$(var.ProductVersion)">
                        <Component Id="MainExecutable" Guid="{7D7AF5BF-E0D6-4997-9E98-C8BBBFD7A29D}">
                            <File Id="$(var.MainExecutable)" Name="$(var.MainExecutable)" Vital="no" DiskId="1" Source="$(var.SourceDir)\$(var.MainExecutable)" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
				<Component Id="ProgramMenuItems" Guid="BBB6934E-57F3-4E39-A2C8-C6C26A9FE0C6">
					<!--
								Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
								http://msdn.microsoft.com/library/msi/setup/ice38.asp
							-->
					<RegistryValue Id="JexusManagerExeStartMenuShortcutRegistryKey" Root="HKCU" Type="string" KeyPath="yes" Key="Software\$(var.ManufacturerShort)\$(var.ProductNameShort)" Name="ProgramFilesShortcut" Value="1" />
					<Shortcut Name="$(var.ProductName)" Target="[!$(var.MainExecutable)]" Id="MainExeStartMenuShortcut" WorkingDirectory="CONTAINER" Directory="ProgramMenuFolder" />
                    <RemoveFolder Id="CleanUpShortCut" Directory="ProgramMenuFolder" On="uninstall"/>
				</Component>
			</Directory>
        </Directory>

        <?include "OS.wxi" ?>

        <!--
			If a newer version of SharpDevelop is installed, show an error message.
	
			This message is not displayed immediately, the FindRelatedProducts 
			action occurs well into the installation after the user has
			configured everything.
		-->
		<CustomAction Id="NoDowngrade" Error="A later version of [ProductName] is already installed." />
        <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

        <?include "CloseApplication.wxi" ?>

        <!-- Custom Actions using Install Util -->
        <InstallExecuteSequence>
			<!--
				Display an error message if a newer version found.
				
				Since the installer completely removes the existing SharpDevelop installation,
				downgrades would work without any problems, but for now we 
				inform the user that a newer version already exists.
				-> Actually, there's trouble with downgrades because Windows Installer first determines
					the existing components before removing the old installation; so all versioned
					libraries will get removed instead of downgraded.
 			-->
			<Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERVERSIONFOUND</Custom>
			<!--
				Removes the older version of SharpDevelop, if we are upgrading,
				before installing the new version.
				Unfortunately the user is not informed of this upgrade. I think
				we need a custom dialog showing the old installation located and
				the fact that it is going to be upgraded.
				The best place to do this is after InstallFinalize however if we
				do it then after we have removed a file from an addin, and changed
				the Component Guid, the modified component is not installed. So
				we make sure SharpDevelop is completely removed before installing
				the newer version. This also covers us if we accidentally
				modify a component but do not change its Guid.
				http://msdn.microsoft.com/library/msi/setup/removeexistingproducts_action.asp
			-->
			<RemoveExistingProducts Before="InstallInitialize"/>
            <Custom Action="WixCloseApplications" After="InstallInitialize" />
            <Custom Action="SetARPINSTALLLOCATION" After="InstallFiles">NOT Installed</Custom>
        </InstallExecuteSequence>

        <!-- Using WixUI -->
        <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
        <UI>
            <UIRef Id="WixUI_FeatureTree" />
            <Error Id='1001'>Error [1]. [2]</Error>
        </UI>

    </Product>
</Wix>
