<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home1.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="test"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
